.header {
    width: 10rem;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-appear {
}

.header-appear-active {
    animation: bounce;
    animation-duration: 1s;
}
