.avatar-appear-active {
    animation: fadeInUp;
    animation-duration: 1s;
}

.fullName-appear {
    opacity: 0;
}

.fullName-appear-active {
    animation: fadeInUp;
    animation-delay: 1s;
    animation-duration: 1s;
}

.fullName-appear-done {
    opacity: 1;
}

.loadMore {
    margin-top: 20rem;
}

.loadMore,
.loadMore-enter {
    opacity: 0;
    &__chevron {
        width: 3rem;
        height: 3rem;
    }
}

.loadMore-enter-active {
    transform: translateX(0);
    opacity: 1;
    transition: opacity 500ms, transform 500ms;
}

.loadMore-enter-done {
    opacity: 1;
}

.mainRow {
    min-height: 100vh;
}

.main {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 10rem;
}

.rowDescription {
    min-height: 100vh;
}
