@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&display=swap');

body {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 300;
    background-color: #eeeeee;
}

html {
    scroll-behavior: smooth;
}

p {
    color: #454545;
}

/* All things related to App component */
.transition-brand,
.transition-brand-enter {
    opacity: 0;
}

.transition-brand-enter-active {
    opacity: 1;
    transition: opacity 500ms;
}

.transition-brand-enter-done {
    opacity: 1;
}

.transition-brand-exit {
    opacity: 1;
}

.transition-brand-exit-active {
    opacity: 0;
    transition: opacity 500ms;
}
